{% extends "layout/default.twig" %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6 px-md-5 mb-5">
        <div class="loginForm">
            <form action="" class="p-4" method="post" name="form1">
                <fieldset>
                    <legend id="returnMsgForm1">
                        Modifier nom et mot de passe
                    </legend>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="nom">Nom d'utilisateur</label>
                            <input type="text" class="form-control" name="username" value="{{ session.user.username }}" required="required">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="prenom">Mot de passe</label>
                            <input class="form-control" name="password" type="password" required="required">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="prenom">Confirmation mot de passe</label>
                            <input class="form-control" name="passwordConfirmed" type="password" required="required">
                        </div>
                    </div>
                    <button class="btn btn-primary float-left" for="form1" name="sendForm1" type="submit" value="sendForm1">Envoyer</button>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="col-md-6 px-md-5 mb-5">
        <div class="loginForm">
            <form action="" class="p-4" method="post" name="form2">
                <fieldset>
                    <legend>
                        Modidier vos coordonnées
                    </legend>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" name="lastname" value="{{ session.user.lastname }}" required="required">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" name="firstname" value="{{ session.user.firstname }}" required="required">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label for="tel">Téléphone</label>
                            <input type="text" class="form-control" name="phone" value="{{ session.user.phone }}" required="required">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="ville">Ville</label>
                            <input type="text" class="form-control" name="city" value="{{ session.user.city }}" required="required">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="adresse">Adresse</label>
                            <input type="text" class="form-control" name="address" value="{{ session.user.address }}" required="required">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="pays">Pays</label>
                            <input type="text" class="form-control" name="country" value="{{ session.user.country }}" required="required">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="codePostal">Code postale</label>
                            <input type="text" class="form-control" name="zipCode" value="{{ session.user.zipCode }}" required="required">
                        </div>
                    </div>
                    <button class="btn btn-primary float-left" for="form2" name="sendForm2" type="submit" value="sendForm2">Envoyer</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}